<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Adopte Un Dev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ homeTab }}">
                <a class="nav-link" href="{{ path('admin_homepage') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{ usersTab }}">
                <a class="nav-link" href="{{ path('users.list') }}">Utilisateurs</a>
            </li>
            <li class="nav-item {{ commentTab }}">
                <a class="nav-link" href="{{ path('comments') }}">Commentaires</a>
            </li>
        </ul>
        <span class="navbar-text">
            <span style="margin-right: 20px;">Administrateur</span>
            <a href="{{ path('fos_user_security_logout') }}"><button type="btn" class="btn btn-light">Deconnexion</button></a>
        </span>
    </div>
</nav>