{% extends "base.html.twig" %}

{% block body %}
    <body id="FormLogin">

        {% include "@App/Default/flashBag.html.twig" %}

        <div class="container card-header">
            <div class="row align-items-center modal-dialog-centered">

                <div class="col-lg">
                    
                </div>

                <div class="col-lg">
                    <h4 style="margin-top:5%;">Adopte un dev : {% if app.request.pathinfo == "/register" %}inscription{% else %}Connexion{% endif %}</h4>

                        {{ form(form) }}
                        {{ form_errors(form) }}
                    {% if app.request.pathinfo == "/login" %}<a href="{{ path('signup') }}">Inscription</a>{% endif %}

                </div>

                <div class="col-lg">
                    
                </div>
            
            </div>
        </div>

    </body>


{% endblock %}